<div id="list">
<h1>My Simple Blog</h1>

<table>

<% @posts.each do |post| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td><%= post.date_of_creation %></td>
    <td class="post_text">
      <dt><%= link_to post.post_title, post %></dt>
      <dd><%= truncate(strip_tags(post.post_text), :length => 60) %></dd>
    </td>
    <td><%= pluralize(post.comments.count, 'comment') %></td>
    <td>In <%= post.category.category_name %>.</td>
    <!--td>< %= link_to 'View', post % ></td-->
    <td><%= link_to 'Edit', edit_post_path(post) %><br />
    <%= link_to 'Delete', post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>

</table>

<br />
  <p><%= will_paginate @posts %></p>
<%= link_to 'New Post', new_post_path %>

</div>