<p id="notice"><%= notice %></p>

<p>
  <b>Post title:</b>
  <%= @post.post_title %>
</p>

<p>
  <b>Post text:</b>
  <%= @post.post_text %>
</p>

<p>
  <b>Date of creation:</b>
  <%= @post.date_of_creation %>
</p>

<p>
  <b>Category:</b>
  <%= @category %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
