<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<div id="blog">
<h1>Welcome to Simple Blog</h1>

<% @posts.each do |post| %>
  <div class="entry">
    <h3><%= post.post_title %></h3>
    <div class="info" >
      Created on <%= post.date_of_creation %> in &quot;<%= post.category_name %>&quot; category.
    </div>
    <div class="post_text">
      <%= sanitize post.post_text %>
    </div>

    <div>
      <%= pluralize(post.comments.count, 'comment') %>
      <!--Here render ajax template for single comment-->
<% if post.comments.count>0 %>

        <ul>
          <%= render(post.comments) %>
        </ul>
      
<% end %>
      <!--% render(Comment.new(:post_id=>post)) %-->
      <%= link_to "Post your comment", new_post_comment_path(:post_id => post) %>
    </div>
  </div>
<% end %>
</div>