<div id="list">
<h1>Listing categories</h1>

<table>

<% @categories.each do |category| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td class="category_name"><%= category.category_name %></td>
    <!--td><%= link_to 'Edit', edit_category_path(category) %></td-->
    <td><%= link_to 'Remove', category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add New Category', new_category_path %>
</div>