<!DOCTYPE html>
<html>
<head>
  <title>Simply Blog</title>
  <%= stylesheet_link_tag "simply_blog", :media => :all %>
  <%= stylesheet_link_tag "scaffold" %>
  <%= javascript_include_tag :defaults %>
  <!--%= javascript_include_tag "jquery.min.js", "jquery.js" %> <!--"https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js", "jquery.rails.js" % ><!--, 'application' %-->
  <%= csrf_meta_tag %>
</head>
<body id="post_list">

    <div id="banner">
      <!---%=  @page.title || "My Simple Blog" %-->
      My Simple Blog
    </div>
    <div id="columns">
      <div id="side">
        <a href="http://www...">Home</a><br />
        <a href="http://www.../faq">Questions</a><br />

      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>
</body>
</html>
